﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="forum2.aspx.cs" Inherits="forum" %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="home/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="home/css/styles.css" rel="stylesheet" />
        </head>
    <body>
        <form id="form1" runat="server">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Gamer Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <br />
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                    <asp:Label ID="Label1" runat="server" CssClass="text-white" Text="Label"></asp:Label>             
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">                    
                        <li class="nav-item"><a class="nav-link" href="forum.aspx">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="profile_page.aspx">Profile </a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Gamer Forum</h1>
                    <p class="lead mb-0">You can learn and comment about games here</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4" style="left: 0px; top: 0px">
                        <a href="#"><img class="card-img-top" src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_Battlefield2042_DICE_S1_2560x1440-36f16374c9c29a18a46872795b483d72?h=270&resize=1&w=480" alt="..." /></a>
                        &nbsp;<div class="card-body">
                            <div class="small text-muted">June 15, 2021</div>
                            <h2 class="card-title">Battlefield 2042</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://cdn.wallpapersafari.com/57/18/6d7GwY.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">June 8, 2021</div>
                                    <h2 class="card-title h4">Counter Strike:Global Offensive</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://wallpapercave.com/wp/wp4884170.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">May 21, 2021</div>
                                    <h2 class="card-title h4">Age of Empires II</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://wallpapercave.com/wp/wp5825925.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">May 18, 2021</div>
                                    <h2 class="card-title h4">CoD Warzone</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://wallpapercave.com/wp/wp3805945.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">May 11, 2021</div>
                                    <h2 class="card-title h4">Civilization VI</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item "><a class="page-link" href="forum1.aspx">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>                                          
                            <li class="page-item disabled"><a class="page-link" href="#!" aria-disabled="true">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Most Visited Posts</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Dying Light 2</a></li>
                                        <li><a href="#!">Apex Legends</a></li>
                                        <li><a href="#!">Battlefield 2042</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Valorant</a></li>
                                        <li><a href="#!">Cs:Go</a></li>
                                        <li><a href="#!">League of Legends</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Communicate with Admins</div>
                        <div class="card-body">Send Ticket:<br />
                            <asp:TextBox ID="TextBox1" runat="server" Height="45px" Width="318px"></asp:TextBox>
                            <asp:Button ID="Button1" runat="server" Text="Send" Width="82px" />
                            <br />
                            <br />
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright © Gamer Forum 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="home/js/scripts.js"></script>
        </form>
    </body>
</html>
